.btn {
  border-radius: 0.3571rem;
  padding: 0.9286rem 1.0714rem;
  background: $red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  &--bg-black {
    background: #2f3234;
    width: 30%;
    text-transform: initial;
    text-align: center;
    width: 7.8571rem;
    &:hover {
      background: #1f2122;
    }
  }
}