.maps {
  position: relative;
  background: url("../../img/maps-bg.png") center center / cover no-repeat;
}
.contact {
  background: black;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

.contact__desc{
  padding-top: 1.4286rem;
  flex: 1;
  text-align: left;
  @include phones {
    text-align: center;
    justify-content: center;
  }
}

.contact__adress {
  font-style: 1rem;
  color: #fff;
}
.contact__phone {
  color:$red;
}

.social{
  flex: 1;

  &__item {
    color:#fff;
    padding:1.4286rem 0 0 1.4286rem;
    @include phones {
      padding: 0 0 0 1.4286rem;
      justify-content: center;
    }
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    @include phones {
      justify-content: center;
    }
  }
}
