.menu {
  background: url("../../img/menu-bg.png") center center/cover no-repeat;
  position: relative;
}

.container__menu {
  width: 68.5714rem;
  padding-left: 0.7143rem;
  padding-right: 0.7143rem;
  margin: auto;
}

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu-list__item {
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item_active {
  .menu-list__title{
    color: #f9b43b;
  }
  .menu-list__content {
    max-height: 100%;
    max-width: 38.5714rem;
    padding: 4.4286rem 2.5rem;
    visibility: visible;
    opacity: 1;
  }
  
}

.menu-list__title {
  position: relative;
  width: 5.7143rem;
  font-family: 'Gagalin', sans-serif;
  font-size: 2.8571rem;
  color: #fff;
  line-height: 5.7143rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-list__title span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menu-list__content {
  background-color: rgba(47, 50, 52, .929);
  color: #fff;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.714;
  max-width: 0px;
  max-height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 1.5s;
  transition-property: max-height, max-width, opacity, visibility;
}