.nav{
  margin-right:1.0714rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav__list {
  display:flex;
  
  @include tablets {
    display: none;
  }
}

.nav__item:last-child .nav__link:after {
  display:none;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9286rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:after {
    content: "";
    width: 0.2857rem;
    height: 0.2857rem;
    display: block;
    border-radius: 50%;
    background: #fff;
    margin: 0 0.7143rem;
  }
}

