.team {
  background: url("../../img/team-bg.png") center center / cover no-repeat;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.team__wrapper {
  background: url("../../img/team__wrapper-bg.png") center center / cover no-repeat;
  min-height: 100%;
  width: 50%;
  @include tablets {
    width: 100%;
  }
}

.team__desc {
  padding: 15% 15% 0 15%;
  height: 100%;
}

.team__members {
  padding-bottom: 6%;
  position: relative;
  @include tablets {
    text-align: center;
  }
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -30px;
    border: 5px solid transparent;
    border-top: 5px solid $yellow;
    transform: rotate(0deg);
    transition: .5s;
    @include tablets {
      left: 25%;
    }
  }
}

.team__members__name {
  color: #FFF;
  font-family: 'Gagalin';
  margin-bottom: 5%;
}

.team__members__desc {
  font-family: "Ubuntu";
  color: #FFF;
  overflow: hidden;
  height: 0;
  display: flex;
  @include tablets {
    flex-direction: column;
  }
}

.team__members__profession {
  display: flex;
  flex-direction: column;
}

.team__members__profession-name {
  font-weight: bold;
  margin-bottom: 1.4286rem;
}

.team__members--active {
  &:before {
    transform: rotate(180deg);
  }
  &__desc--active {
    overflow: auto;
    height: 84%;
  }
  &__name--active {
    color: $yellow;
  }
}

.team__members--active {
  &:before {
    transform: rotate(180deg);
  }
}

.team__members__name--active {
  color: $yellow;
}

.team__members__desc--active{
  overflow: auto;
  height: 84%;
}